{% extends 'base.html.twig' %}

{% block title %}Tipsy{% endblock %}

{% block stylesheets %}
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}

{% set red="#DC143C" %}
{% set blue="#6495ED" %}
<style>
    .cell{
        width: 40px;
        height: 40px;
        border : 2px solid black
    }
    .player {
        align-self: stretch;
        margin-left: 40px;
        margin-right: 40px;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .player h2 {
        font-size: 50px;
    }
    .obstacle{
        background-color: black
    }
    .board{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .middle-board {
        display: flex;
        flex-direction: column;
    }
    .game{
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: pacifico,cursive;
    }
    .top-exit {
        border-top: 2px solid white;
    }
    .right-exit {
        border-right: 2px solid white;
    }
    .left-exit {
        border-left: 2px solid white;
    }
    .bottom-exit {
        border-bottom: 2px solid white;
    }
    .tilt {
        border: none;
        font-weight: bold;
        font-size: large;
        flex: 1;
        align-self: stretch;
        font-family : inherit;
        background-color:{{(board.getCurrentPlayer()=='red') ? red:blue}};
    }
    .tilt:hover{
        opacity: 0.50;
    }
    .remaining {
        display: flex;
        justify-content: center;
        font-size: 100px;
    }
    .replace {
        border: none;
        border-radius: 40px;
        align-self: center;
        font-family: pacifico;
        padding: 10px;
        margin: 15px;
        font-weight: bold;
        font-size: 30px;
        flex: 1;
        align-self: stretch;
        background-color:{{(board.getCurrentPlayer()=='red') ? red:blue}};
    }
    .title {
        font-size: 100px;
        font-family: pacifico;
        text-align: center;
        margin: 10px;
    }
    .blue {
        color: {{blue}};
    }
    .red {
        color: {{red}};
    }
    .top {
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
    }
    .bottom {
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
    }
    .blue_puck {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: {{blue}};
    }
    .red_puck {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: {{red}};
    }

    {% for red_puck in board.getPucksIdsBy('red', false) %}

    #cell{{red_puck}}{
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: {{red}};
    }

    {% endfor %}
    {% for flipped_red_puck in board.getPucksIdsBy('red', true) %}

    #cell{{flipped_red_puck}}{
        width: 28px;
        height: 28px;
        border-radius: 20px;
        border: 6px solid {{red}};
        background-color: darkgrey;
    }

    {% endfor %}
    {% for blue_puck in board.getPucksIdsBy('blue', false) %}

    #cell{{blue_puck}}{
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: {{blue}};
    }

    {% endfor %}

    {% for flipped_blue_puck in board.getPucksIdsBy('blue', true) %}

    #cell{{flipped_blue_puck}}{
        width: 28px;
        height: 28px;
        border-radius: 20px;
        border: 6px solid {{blue}};
        background-color: darkgrey;
    }

    {% endfor %}
    {% for black_puck in board.getPucksIdsBy('black', false) %}

    #cell{{black_puck}}{
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: black;
    }

    {% endfor %}
</style>
<div class="title">Tipsy</div>
<div class="game">
    <div class="player blue">
        <h1>BLUE</h1>
        <h2>{{board.getScore('blue')}}</h2>
        {% for i in range(0, board.getFallenPucks('blue')) %}
            {% if i != 0 %}
                <div class="blue_puck"></div>
            {% endif %}
        {% endfor %}
    </div>
    <form id="cellactions" method="POST" action={{(board.shouldReplacePucks())?"game/replacepuck":"/game/tilt"}} class="middle-board">

        <button name="action" type="submit" value="north" class="tilt top" {% if board.shouldReplacePucks() %}disabled{% endif %}>Tilt</button>
        <div class="board">
            <button name="action" type="submit" value="west" class="tilt" {% if board.shouldReplacePucks() %}disabled{% endif %}>Tilt</button>
            <div class="row">
            <div class="cell"><div id="cell00"></div></div>
            <div class="cell"><div id="cell01"></div></div>
            <div class="cell"><div id="cell02"></div></div>
            <div class="cell obstacle"><div id="cell03"></div></div>
            <div class="cell"><div id="cell04"></div></div>
            <div class="cell left-exit"><div id="cell05"></div></div>
            <div class="cell"><div id="cell06"></div></div>
            </div>
            <div class="row">
                <div class="cell top-exit"><div id="cell10"></div></div>
                <div class="cell obstacle"><div id="cell11"></div></div>
                <div class="cell"><div id="cell12"></div></div>
                <div class="cell"><div id="cell13"></div></div>
                <div class="cell"><div id="cell14"></div></div>
                <div class="cell  obstacle"><div id="cell15"></div></div>
                <div class="cell"><div id="cell16"></div></div>
            </div>
            <div class="row">
                <div class="cell"><div id="cell20"></div></div>
                <div class="cell"><div id="cell21"></div></div>
                <div class="cell obstacle"><div id="cell22"></div></div>
                <div class="cell"><div id="cell23"></div></div>
                <div class="cell obstacle"><div id="cell24"></div></div>
                <div class="cell"><div id="cell25"></div></div>
                <div class="cell"><div id="cell26"></div></div>
            </div>
            <div class="row">
            <div class="cell obstacle"><div id="cell30"></div></div>
            <div class="cell"><div id="cell31"></div></div>
            <div class="cell"><div id="cell32"></div></div>
            <div class="cell"><div id="cell33"></div></div>
            <div class="cell"><div id="cell34"></div></div>
            <div class="cell"><div id="cell35"></div></div>
            <div class="cell obstacle"><div id="cell36"></div></div>
            </div>
            <div class="row">
            <div class="cell"><div id="cell40"></div></div>
            <div class="cell"><div id="cell41"></div></div>
            <div class="cell obstacle"><div id="cell42"></div></div>
            <div class="cell"><div id="cell43"></div></div>
            <div class="cell obstacle"><div id="cell44"></div></div>
            <div class="cell"><div id="cell45"></div></div>
            <div class="cell"><div id="cell46"></div></div>
            </div>
            <div class="row">
            <div class="cell"><div id="cell50"></div></div>
            <div class="cell obstacle"><div id="cell51"></div></div>
            <div class="cell"><div id="cell52"></div></div>
            <div class="cell"><div id="cell53"></div></div>
            <div class="cell"><div id="cell54"></div></div>
            <div class="cell obstacle"><div id="cell55"></div></div>
            <div class="cell bottom-exit"><div id="cell56"></div></div>
            </div>
            <div class="row">
            <div class="cell"><div id="cell60"></div></div>
            <div class="cell right-exit"><div id="cell61"></div></div>
            <div class="cell"><div id="cell62"></div></div>
            <div class="cell obstacle"><div id="cell63"></div></div>
            <div class="cell"><div id="cell64"></div></div>
            <div class="cell"><div id="cell65"></div></div>
            <div class="cell"><div id="cell66"></div></div>
            </div>
            <button name="action" type="submit" value="east" class="tilt" {% if board.shouldReplacePucks() %}disabled{% endif %}>Tilt</button>
        </div>

        <button name="action" type="submit" value="south" class="tilt bottom" {% if board.shouldReplacePucks() %}disabled{% endif %}>Tilt</button>
        {% if board.shouldReplacePucks() %}
        <button name="action" type="submit" value="replace" class="replace">Replace</button>
        {% endif %}
        {% if not board.shouldReplacePucks() %}
        <div class="remaining">
            {{board.getRemainingTurns()}}
        </div>
        {% endif %}
    </form>
    <div class="player red">
        <h1>RED</h1>
        <h2>{{board.getScore('red')}}</h2>
        {% for i in range(0, board.getFallenPucks('red')) %}
            {% if i != 0 %}
                <div class="red_puck"></div>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}
