{% extends 'base.html.twig' %}

{% block title %}Tipsy{% endblock %}

{% block body %}

<style>
    .cell{
        width: 40px;
        height: 40px;
        border : 2px solid black
    }
    .obstacle{
        background-color: black
    }
    .board{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .game{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .top-exit {
        border-top: 2px solid lightgrey;
    }
    .right-exit {
        border-right: 2px solid lightgrey;
    }
    .left-exit {
        border-left: 2px solid lightgrey;
    }
    .bottom-exit {
        border-bottom: 2px solid lightgrey;
    }
    .tilt {
        border: none;
        font-weight: bold;
        font-size: large;
        flex: 1;
    }

    {% for red_puck in board.getPucksIdsBy('red', false) %}

    #cell{{red_puck}}{
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: red;
    }

    {% endfor %}
    {% for flipped_red_puck in board.getPucksIdsBy('red', true) %}

    #cell{{flipped_red_puck}}{
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: darkred;
    }

    {% endfor %}
    {% for blue_puck in board.getPucksIdsBy('blue', false) %}

    #cell{{blue_puck}}{
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: blue;
    }

    {% endfor %}

    {% for flipped_blue_puck in board.getPucksIdsBy('blue', true) %}

    #cell{{flipped_blue_puck}}{
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: darkblue;
    }

    {% endfor %}
    {% for black_puck in board.getPucksIdsBy('black', false) %}

    #cell{{black_puck}}{
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: black;
    }

    {% endfor %}
</style>
<div class="game">
    <form id="cellactions" method="POST" action={{(board.shouldReplacePucks())?"game/replacepuck":"/game"}}>
        {% if not board.shouldReplacePucks() %}
        <button name="action" type="submit" value="north" class="tilt">Tilt</button>
        {% endif %}
        <div class="board">
            {% if not board.shouldReplacePucks() %}
            <button name="action" type="submit" value="west" class="tilt">Tilt</button>
            {% endif %}
            <div class="row">
            <div class="cell"><div id="cell00"></div></div>
            <div class="cell"><div id="cell01"></div></div>
            <div class="cell"><div id="cell02"></div></div>
            <div class="cell obstacle"><div id="cell03"></div></div>
            <div class="cell"><div id="cell04"></div></div>
            <div class="cell left-exit"><div id="cell05"></div></div>
            <div class="cell"><div id="cell06"></div></div>
            </div>
            <div class="row">
                <div class="cell top-exit"><div id="cell10"></div></div>
                <div class="cell obstacle"><div id="cell11"></div></div>
                <div class="cell"><div id="cell12"></div></div>
                <div class="cell"><div id="cell13"></div></div>
                <div class="cell"><div id="cell14"></div></div>
                <div class="cell  obstacle"><div id="cell15"></div></div>
                <div class="cell"><div id="cell16"></div></div>
            </div>
            <div class="row">
                <div class="cell"><div id="cell20"></div></div>
                <div class="cell"><div id="cell21"></div></div>
                <div class="cell obstacle"><div id="cell22"></div></div>
                <div class="cell"><div id="cell23"></div></div>
                <div class="cell obstacle"><div id="cell24"></div></div>
                <div class="cell"><div id="cell25"></div></div>
                <div class="cell"><div id="cell26"></div></div>
            </div>
            <div class="row">
            <div class="cell obstacle"><div id="cell30"></div></div>
            <div class="cell"><div id="cell31"></div></div>
            <div class="cell"><div id="cell32"></div></div>
            <div class="cell"><div id="cell33"></div></div>
            <div class="cell"><div id="cell34"></div></div>
            <div class="cell"><div id="cell35"></div></div>
            <div class="cell obstacle"><div id="cell36"></div></div>
            </div>
            <div class="row">
            <div class="cell"><div id="cell40"></div></div>
            <div class="cell"><div id="cell41"></div></div>
            <div class="cell obstacle"><div id="cell42"></div></div>
            <div class="cell"><div id="cell43"></div></div>
            <div class="cell obstacle"><div id="cell44"></div></div>
            <div class="cell"><div id="cell45"></div></div>
            <div class="cell"><div id="cell46"></div></div>
            </div>
            <div class="row">
            <div class="cell"><div id="cell50"></div></div>
            <div class="cell obstacle"><div id="cell51"></div></div>
            <div class="cell"><div id="cell52"></div></div>
            <div class="cell"><div id="cell53"></div></div>
            <div class="cell"><div id="cell54"></div></div>
            <div class="cell obstacle"><div id="cell55"></div></div>
            <div class="cell bottom-exit"><div id="cell56"></div></div>
            </div>
            <div class="row">
            <div class="cell"><div id="cell60"></div></div>
            <div class="cell right-exit"><div id="cell61"></div></div>
            <div class="cell"><div id="cell62"></div></div>
            <div class="cell obstacle"><div id="cell63"></div></div>
            <div class="cell"><div id="cell64"></div></div>
            <div class="cell"><div id="cell65"></div></div>
            <div class="cell"><div id="cell66"></div></div>
            </div>
            {% if not board.shouldReplacePucks() %}
            <button name="action" type="submit" value="east" class="tilt">Tilt</button>
            {% endif %}
        </div>
        {% if not board.shouldReplacePucks() %}
        <button name="action" type="submit" value="south" class="tilt">Tilt</button>
        {% endif %}
        {% if board.shouldReplacePucks() %}
        <button name="action" type="submit" value="replace" class="tilt">Replace</button>
        {% endif %}
        <div style="color:{{board.getCurrentPlayer()|lower}}">
            {{board.getCurrentPlayer()}} player remaing turns {{board.getRemainingTurns()}}
            <div>Blue Fallen pucks {{board.getFallenPucks('blue')}}</div>
            <div>Red Fallen pucks {{board.getFallenPucks('red')}}</div>
            <div>All Fallen pucks {{board.getFallenPucksCount()}}</div>

        </div>
    </form>
</div>

{% endblock %}
